<?xml version="1.0" encoding="UTF-8"?>
<project name="spring_udemy" default="all">
  
  
  <property file="spring_udemy.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*.yarb/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.egg"/>
    <include name="*.jar"/>
    <include name="*.ear"/>
    <include name="*.swc"/>
    <include name="*.war"/>
    <include name="*.ane"/>
    <include name="*.zip"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.1.8" value="${jdk.home.1.8}/bin"/>
  <path id="jdk.classpath.1.8">
    <fileset dir="${jdk.home.1.8}">
      <include name="jre/lib/charsets.jar"/>
      <include name="jre/lib/deploy.jar"/>
      <include name="jre/lib/ext/cldrdata.jar"/>
      <include name="jre/lib/ext/dnsns.jar"/>
      <include name="jre/lib/ext/jaccess.jar"/>
      <include name="jre/lib/ext/jfxrt.jar"/>
      <include name="jre/lib/ext/localedata.jar"/>
      <include name="jre/lib/ext/nashorn.jar"/>
      <include name="jre/lib/ext/sunec.jar"/>
      <include name="jre/lib/ext/sunjce_provider.jar"/>
      <include name="jre/lib/ext/sunpkcs11.jar"/>
      <include name="jre/lib/ext/zipfs.jar"/>
      <include name="jre/lib/javaws.jar"/>
      <include name="jre/lib/jce.jar"/>
      <include name="jre/lib/jfr.jar"/>
      <include name="jre/lib/jfxswt.jar"/>
      <include name="jre/lib/jsse.jar"/>
      <include name="jre/lib/management-agent.jar"/>
      <include name="jre/lib/plugin.jar"/>
      <include name="jre/lib/resources.jar"/>
      <include name="jre/lib/rt.jar"/>
      <include name="lib/ant-javafx.jar"/>
      <include name="lib/dt.jar"/>
      <include name="lib/javafx-mx.jar"/>
      <include name="lib/jconsole.jar"/>
      <include name="lib/packager.jar"/>
      <include name="lib/sa-jdi.jar"/>
      <include name="lib/tools.jar"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.1.8}"/>
  <property name="project.jdk.bin" value="${jdk.bin.1.8}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.1.8"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.gradle:_antlr:antlr:2.7.2.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/antlr/antlr/2.7.2/546b5220622c4d9b2da45ad1899224b6ce1c8830/antlr-2.7.2.jar"/>
  </path>
  
  <path id="library.gradle:_avalon-framework:avalon-framework:4.1.3.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/avalon-framework/avalon-framework/4.1.3/92315ee1c4a4c90bee05055713811f28f8509075/avalon-framework-4.1.3.jar"/>
  </path>
  
  <path id="library.gradle:_com.1stleg:jnativehook:2.1.0.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/com.1stleg/jnativehook/2.1.0/49e72ddee45ca9cf332c50b4c716781ac0df07fd/jnativehook-2.1.0.jar"/>
  </path>
  
  <path id="library.gradle:_com.jcraft:jsch:0.1.54.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/com.jcraft/jsch/0.1.54/da3584329a263616e277e15462b387addd1b208d/jsch-0.1.54.jar"/>
  </path>
  
  <path id="library.gradle:_commons-beanutils:commons-beanutils:1.7.0.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-beanutils/commons-beanutils/1.7.0/5675fd96b29656504b86029551973d60fb41339b/commons-beanutils-1.7.0.jar"/>
  </path>
  
  <path id="library.gradle:_commons-chain:commons-chain:1.1.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-chain/commons-chain/1.1/3038bd41dcdb2b63b8c6dcc8c15f0fdf3f389012/commons-chain-1.1.jar"/>
  </path>
  
  <path id="library.gradle:_commons-dbcp:commons-dbcp:1.4.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-dbcp/commons-dbcp/1.4/30be73c965cc990b153a100aaaaafcf239f82d39/commons-dbcp-1.4.jar"/>
  </path>
  
  <path id="library.gradle:_commons-digester:commons-digester:1.8.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-digester/commons-digester/1.8/dc6a73fdbd1fa3f0944e8497c6c872fa21dca37e/commons-digester-1.8.jar"/>
  </path>
  
  <path id="library.gradle:_commons-io:commons-io:2.5.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-io/commons-io/2.5/2852e6e05fbb95076fc091f6d1780f1f8fe35e0f/commons-io-2.5.jar"/>
  </path>
  
  <path id="library.gradle:_commons-logging:commons-logging:1.1.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-logging/commons-logging/1.1/ba24d5de831911b684c92cd289ed5ff826271824/commons-logging-1.1.jar"/>
  </path>
  
  <path id="library.gradle:_commons-pool:commons-pool:1.5.4.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-pool/commons-pool/1.5.4/75b6e20c596ed2945a259cea26d7fadd298398e6/commons-pool-1.5.4.jar"/>
  </path>
  
  <path id="library.gradle:_commons-validator:commons-validator:1.3.1.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/commons-validator/commons-validator/1.3.1/d1fd6b1510f25e827adffcf17de3c85fa00e9391/commons-validator-1.3.1.jar"/>
  </path>
  
  <path id="library.gradle:_javax.inject:javax.inject:1.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/javax.inject/javax.inject/1/6975da39a7040257bd51d21a231b76c915872d38/javax.inject-1.jar"/>
  </path>
  
  <path id="library.gradle:_javax.servlet:servlet-api:2.3.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/javax.servlet/servlet-api/2.3/137a24e9f62973f01f16dd23fc1b5a9964fd9ef/servlet-api-2.3.jar"/>
  </path>
  
  <path id="library.gradle:_junit:junit:4.12.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/junit/junit/4.12/2973d150c0dc1fefe998f834810d68f278ea58ec/junit-4.12.jar"/>
  </path>
  
  <path id="library.gradle:_log4j:log4j:1.2.12.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/log4j/log4j/1.2.12/57b8740427ee6d7b0b60792751356cad17dc0d9/log4j-1.2.12.jar"/>
  </path>
  
  <path id="library.gradle:_logkit:logkit:1.0.1.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/logkit/logkit/1.0.1/aaf5649b523c5ffc925e746074979150bb74bfdc/logkit-1.0.1.jar"/>
  </path>
  
  <path id="library.gradle:_mysql:mysql-connector-java:5.1.44.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/mysql/mysql-connector-java/5.1.44/61b6b998192c85bb581c6be90e03dcd4b9079db4/mysql-connector-java-5.1.44.jar"/>
  </path>
  
  <path id="library.gradle:_org.apache.struts:struts-core:1.3.8.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.apache.struts/struts-core/1.3.8/66178d4a9279ebb1cd1eb79c10dc204b4199f061/struts-core-1.3.8.jar"/>
  </path>
  
  <path id="library.gradle:_org.hamcrest:hamcrest-core:1.3.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.hamcrest/hamcrest-core/1.3/42a25dc3219429f0e5d060061f71acb49bf010a0/hamcrest-core-1.3.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-aop:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-aop/5.0.0.RELEASE/717d06b89e32f51f329094f709662f8414c0843f/spring-aop-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-beans:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-beans/5.0.0.RELEASE/6f95f071cfe29a84661648e5445dcb054be0cfa7/spring-beans-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-context:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-context/5.0.0.RELEASE/bf5165fcd47f582f9addcd2a41424b08ea00d880/spring-context-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-core:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-core/5.0.0.RELEASE/3a9bb910e8943b5ef59b193a1621daba46456ca9/spring-core-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-expression:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-expression/5.0.0.RELEASE/48cdf1b2ea2a510c731e5e08f75299e3cb8e9d68/spring-expression-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-jcl:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-jcl/5.0.0.RELEASE/ab0a2114cab7b9e04adf79d812c714f3cbf4abf7/spring-jcl-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-jdbc:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-jdbc/5.0.0.RELEASE/e6c73a4dd93956fcfd59887c64f0989f3fd004b5/spring-jdbc-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_org.springframework:spring-tx:5.0.0.release.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/org.springframework/spring-tx/5.0.0.RELEASE/359eb5245c54257085b9eb2fc11c68dde3325d7/spring-tx-5.0.0.RELEASE.jar"/>
  </path>
  
  <path id="library.gradle:_oro:oro:2.0.8.classpath">
    <pathelement location="${basedir}/../../.gradle/caches/modules-2/files-2.1/oro/oro/2.0.8/5592374f834645c4ae250f4c9fbb314c9369d698/oro-2.0.8.jar"/>
  </path>
  
  
  <!-- Global Libraries -->
  
  
  <!-- Application Server Libraries -->
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <pathelement location="${javac2.home}/javac2.jar"/>
    <pathelement location="${javac2.home}/jdom.jar"/>
    <pathelement location="${javac2.home}/asm-all.jar"/>
    <pathelement location="${javac2.home}/jgoodies-forms.jar"/>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/.idea/modules/module_spring_udemy.xml"/>
  
  <import file="${basedir}/.idea/modules/module_spring_udemy_main.xml"/>
  
  <import file="${basedir}/.idea/modules/module_spring_udemy_test.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.spring_udemy, clean.module.spring_udemy_main, clean.module.spring_udemy_test" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.spring_udemy, compile.module.spring_udemy_main, compile.module.spring_udemy_test" description="build all modules"/>
  
  <target name="all" depends="build.modules" description="build all"/>
</project>